<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>
    <h2>By Adele</h2>
    <p>Hello from the other side! I must have ran a thousand miles!</p>
    <p>To tell you, I am sorry for everything I have done.</p>
<hr>
    <h1>Joromi</h1>
    <h2>By Simi</h2>
    <p>Joromi, Joromi! I want you to love me, Joromi baby o</p>
</body>
</html>